@font-face {
	font-family: 'Authentic Condensed';
	src: url('assets/fonts/limkin.ttf');
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Authentic Condensed', sans-serif;
	font-variation-settings: 'wght' 500, "SRFF" 0;
}
:root {
	--primary: 0,0,0;
	--secondary: 255,255,255;
}
body {
	background-color: var(--secondary);
}

/* Links */
.content {
	padding: 3px;
	display: flex;
	flex-wrap: wrap;
	gap: 3px;
	width: 100vw;
	min-height: 100dvh;
}
.heading {
	font-size: 18px;
	height: 2em;
	padding-top: .2em;
	width: 100%;
	align-self: start;
	justify-self: start;
	display: flex;
	align-items: center;
	justify-content: center;
}
.content a {
	flex-grow: 1;
	text-decoration: none;
	text-align: center;
	animation: link-in .5s forwards;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(var(--primary));
	padding: .3em .1em .1em .1em;
}
@keyframes link-in {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

/* Found */
.content a[data-state="0"] {
	border: 3px solid rgb(var(--primary));
	background-color: rgb(var(--primary));
	color: rgb(var(--secondary));
	/* order: 0; */
}
/* Not found */
.content a[data-state="1"] {
	border: 3px solid rgb(var(--primary));
	background-color: rgb(var(--secondary));
	color: rgb(var(--primary));
	/* order: 1; */
}
/* Timed out */
.content a[data-state="2"] {
	border: 3px dashed rgb(var(--primary));
	background-color: rgba(var(--primary), .2);
	color: rgb(var(--primary));
	/* order: 2; */
}

.content a:hover {
	z-index: 9;
	box-shadow: 0 0 50px rgba(var(--primary), .5);
}
.content a:active {
	box-shadow: unset;
	opacity: .5;
}

/* Homepage */
.home {
	width: 100vw;
	min-height: 100dvh;
	display: flex;
	flex-wrap: wrap;
	gap: 3px;
	padding: 3px;
	text-align: center;
}
.home * {
	font-size: 5vw;
	padding: .3em .1em .1em .1em;
}
.home h1 {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.home a {
	flex-grow: 1;
	background-color: rgb(var(--primary));
	color: rgb(var(--secondary));
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 3px solid rgb(var(--primary));
}
.home a:hover {
	background-color: rgb(var(--secondary));
	color: rgb(var(--primary));
}

/* Print */
@page {
	size: 18.5in 24.5in;
	margin: .25in;
}
@media print {
	* {
		print-color-adjust: exact;
		-webkit-print-color-adjust: exact;
	}
	.content {
		display: flex;
		flex-wrap: wrap;
		gap: 3px;
		width: 18in;
		height: 24in;
	}
}